/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
.form-container {
    border-radius: 0;
    max-width: 100%;
}
#rootwizard {
    overflow: hidden;
    min-height: 100vh;
}
.hero-area .container {
    padding-left: 0;
    padding-right: 0;
}
.hero-area h1 {
    font-size: 19px;
    margin: 0 15px 15px;
}
.hero-area {
    padding: 20px 0 0;
}
.form-container .btn {
    margin: 0px auto 10px;
}
.pods-area {
    padding: 30px 0;
}
.pods-area h2 {
    font-size: 19px;
    margin-bottom: 15px;
}
.single-pod h3 {
    font-size: 16px;
    margin-bottom: 10px;
}
.cta-area {
    padding: 20px 0;
}
.cta-area h3 {
    font-size: 16px;
}
.footer-area nav a {
    display: block;
    margin-bottom: .5rem;
    padding: 7px 0;
    border-radius: .25rem;
    border: 1px solid #dddfe2;
    transition: background-color .15s ease-in-out;
}
.footer-area nav a:hover {
    text-decoration: none;
    background-color: #e7e8ea;
}


}

@media (min-width: 480px) and (max-width: 575px) {




}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) { 
.hero-area h1 {
    font-size: 22px;
}

.pods-area {
    padding: 50px 0;
}
.pods-area h2 {
    font-size: 22px;
    margin-bottom: 15px;
}

.single-pod h3 {
    font-size: 19px;
    margin-bottom: 10px;
}
.cta-area h3 {
    font-size: 19px;
}


}

/* below all small device 776px */
@media (max-width: 767px) { 
.header-area a {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.header-area .logo {
    max-width: 200px;
}
.hero {
    background: #333;
    padding: 20px 0 0;
}
.hero-area {
    background: none;
    background-color: #333;
}
.cta-area .boxed-btn {
    max-width: 100%;
    font-size: 16px;
}

.pods-area h2:after{
    display: none;
}


.header-area .ad-text {
    margin-top: 6px;
    float: right;
}
.header-area.article-header a, .header-area.article-header img {
    float: left;
    max-width: 240px;
}
.article-title {
    font-size: 1.4rem;
    line-height: 1.5;
}
.main-content {
    padding: 10px 0;
}
.main-content h3 {
    font-size: 1.3rem;
}


}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) { 
.hero-area h1 {
    font-size: 2rem;
}
.cta-area h3 {
    font-size: 22px;
}
.header-area .ad-text {
    margin-top: 0;
}

}

/* All devices below 991px*/
@media (max-width: 991px) { 
.header-copy {
    font-size: 18px;
}
.header-area {
    padding: 15px 0;
}
.header-area .logo {
    width: 220px;
}
.pods-area h2:after {
    width: 65%;
}
.single-pod {
    padding: 0px;
}
.pods-area .container {
    max-width: 950px;
}






}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199px) { 
.header-copy {
    font-size: 20px;
}
.pods-area h2 {
    font-size: 1.6rem;
}


}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {


}










